@charset "UTF-8";
/*Занулення стилів*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul {
  margin-bottom: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Saira Condensed";
  src: url("../fonts/SairaCondensed-Bold.eot");
  src: url("../fonts/SairaCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SairaCondensed-Bold.woff2") format("woff2"), url("../fonts/SairaCondensed-Bold.woff") format("woff"), url("../fonts/SairaCondensed-Bold.ttf") format("truetype"), url("../fonts/SairaCondensed-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1599px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 950px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 24px;
  }
}
@media (max-width: 370px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 667px) and (max-height: 375px) {
  .container {
    padding: 0 15px;
  }
}
h1 {
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-size: 38px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
}
@media (max-width: 1400px) {
  h3 {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  h3 {
    font-size: 28px;
    line-height: 34px;
  }
}

h4 {
  font-size: 17px;
  line-height: 20.28px;
}

h5 {
  font-size: 17px;
  line-height: 20.28px;
}

.orange-line {
  background-color: #FC491E;
}

b {
  font-weight: 700;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  z-index: 2;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 125px;
  -webkit-animation: text-clip 2s 5s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: text-clip 2s 5s cubic-bezier(0.5, 0, 0.1, 1) both;
}
@media (max-width: 480px) {
  .header__row {
    height: 75px;
  }
}
@media (max-width: 737px) and (max-height: 414px) {
  .header__row {
    height: 75px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 149px;
  height: 24px;
}
@media (max-width: 480px) {
  .header__logo {
    width: 114px;
  }
}
.header__desktop-logo {
  display: block;
}
@media (max-width: 480px) {
  .header__desktop-logo {
    display: none;
  }
}
.header__mobile-logo {
  display: none;
}
@media (max-width: 480px) {
  .header__mobile-logo {
    display: block;
  }
}
.header__button {
  width: 141px;
  height: 33px;
}
.header__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #1D1B4C;
  background-color: #E6CD0B;
  -webkit-box-shadow: 0px 5px 30px rgba(230, 205, 11, 0.3);
          box-shadow: 0px 5px 30px rgba(230, 205, 11, 0.3);
  border-radius: 6px;
  font-weight: 700;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(230, 205, 11, 0.3);
  }
  70% {
    -webkit-box-shadow: 0 5px 30px rgba(230, 205, 11, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(230, 205, 11, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(230, 205, 11, 0.3);
            box-shadow: 0 0 0 rgba(230, 205, 11, 0.3);
  }
  70% {
    -webkit-box-shadow: 0 5px 30px rgba(230, 205, 11, 0.3);
            box-shadow: 0 5px 30px rgba(230, 205, 11, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(230, 205, 11, 0.3);
            box-shadow: 0 0 0 rgba(230, 205, 11, 0.3);
  }
}
.header__button a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  background: #111111;
  overflow: hidden !important;
  -webkit-font-smoothing: antialiased;
}

.section {
  height: 100vh;
}

.parallax-window {
  height: 300px;
  background: transparent;
}

#fp-nav {
  background: #101010;
  opacity: 0.5;
  border-radius: 60px;
  display: block;
  -webkit-animation: text-clip 2s 5s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: text-clip 2s 5s cubic-bezier(0.5, 0, 0.1, 1) both;
}
#fp-nav ul li a span {
  background-color: #f1f2ec4d;
  background: #f1f2ec4d;
}
#fp-nav ul li .active span {
  background-color: #F1F2EC;
  background: #F1F2EC;
}
@media (max-width: 1023px) {
  #fp-nav {
    display: none;
  }
}
@-webkit-keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes outer-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes outer-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes inner-left {
  from {
    -webkit-transform: translate3d(60%, 0, 0);
            transform: translate3d(60%, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes inner-left {
  from {
    -webkit-transform: translate3d(60%, 0, 0);
            transform: translate3d(60%, 0, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes image-in {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
@keyframes image-in {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
.atf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.atf__img-parallax {
  position: absolute;
  top: 0;
  right: 0;
  width: 56.5%;
  height: 100%;
  z-index: 0;
  border: none;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  display: block;
}
.atf__img-parallax:before {
  content: "";
  background-color: #111111;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: image-in 1s cubic-bezier(0, 0.5, 0.1, 1) 4s forwards;
          animation: image-in 1s cubic-bezier(0, 0.5, 0.1, 1) 4s forwards;
  z-index: 0;
  display: block;
}
@media (max-width: 480px) {
  .atf__img-parallax:before {
    display: none;
  }
}
@media (max-width: 480px) {
  .atf__img-parallax {
    display: none;
  }
}
.atf__column-one {
  width: 952px;
  -webkit-animation: outer-left 2s 2s ease both;
          animation: outer-left 2s 2s ease both;
}
@media (max-width: 768px) {
  .atf__column-one {
    width: 100%;
  }
}
.atf__title {
  font-family: Saira Condensed;
  font-size: 77px;
  font-style: normal;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: -0.04em;
  text-align: left;
  color: white;
  margin-bottom: 64px;
  margin-top: 184px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.atf__title span {
  color: #E6CD0B;
  position: relative;
}
.atf__title span:last-child:after {
  content: url("../img/Rocket.png");
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -70px;
  position: absolute;
  display: block;
}
@media (max-width: 480px) {
  .atf__title span:last-child:after {
    display: none;
  }
}
.atf__title br {
  display: block;
}
@media (max-width: 768px) {
  .atf__title br {
    display: none;
  }
}
@media (max-width: 1023px) {
  .atf__title {
    font-size: 70px;
    line-height: 80px;
  }
}
@media (max-width: 480px) {
  .atf__title {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
    margin-top: 90px;
  }
}
@media (max-width: 370px) {
  .atf__title {
    font-size: 35px;
    line-height: 47px;
  }
}
@media (max-width: 737px) and (max-height: 414px) {
  .atf__title {
    font-size: 45px;
    line-height: 56px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
@media (max-width: 568px) and (max-height: 320px) {
  .atf__title {
    font-size: 41px;
    line-height: 52px;
  }
}
@media (min-width: 1025px) and (max-height: 570px) {
  .atf__title {
    margin-top: 20px !important;
    font-size: 44px;
    line-height: 44px;
  }
}
.atf__design-build {
  -webkit-animation: inner-left 0.5s 1s ease both, text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: inner-left 0.5s 1s ease both, text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
  z-index: 2;
}
@media (max-width: 480px) {
  @-webkit-keyframes inner-left {
    from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes inner-left {
    from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
}
.atf__grow-stunning {
  -webkit-animation: inner-left 0.5s 1.5s ease both, text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: inner-left 0.5s 1.5s ease both, text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
  z-index: 2;
}
@media (max-width: 480px) {
  @-webkit-keyframes inner-left {
    from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes inner-left {
    from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
}
.atf__web-apps {
  -webkit-animation: inner-left 0.5s 2s ease both, text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: inner-left 0.5s 2s ease both, text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
  z-index: 2;
}
@media (max-width: 480px) {
  @-webkit-keyframes inner-left {
    from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes inner-left {
    from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
}
.atf__skyrocket-sales {
  -webkit-animation: inner-left 0.5s 2.5s ease both, text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: inner-left 0.5s 2.5s ease both, text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
  z-index: 2;
}
@media (max-width: 480px) {
  @-webkit-keyframes inner-left {
    from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes inner-left {
    from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
}
.atf__subtitle {
  -webkit-animation: text-clip 1s 5s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: text-clip 1s 5s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.atf__subtitle a {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  color: #E6CD0B;
  text-transform: uppercase;
  margin-left: 24px;
  position: relative;
}
.atf__subtitle a:before {
  content: url("../img/arrow.svg");
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}
.atf__subtitle a:hover:before {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .atf__subtitle {
    display: none;
  }
}
@media (max-width: 480px) {
  .atf {
    background-image: url("../img/mobileBackground.png");
    background-size: cover;
    background-position: center;
  }
}
.contact-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 480px) {
  .contact-us__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact-us__under-block-text a {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: right;
  position: absolute;
  left: -173px;
  top: 25%;
  -webkit-transform: rotate(-90deg) translateY(50%);
          transform: rotate(-90deg) translateY(50%);
  color: #B8B8B8;
  text-transform: uppercase;
  display: block;
}
.contact-us__under-block-text a:before {
  content: url("../img/whiteArrow.svg");
  position: absolute;
  left: -31px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact-us__under-block-text a:hover:before {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: -41px;
}
@media (max-width: 1200px) {
  .contact-us__under-block-text a {
    display: none;
  }
}
@media (max-width: 1023px) {
  .contact-us__under-block-text a {
    display: none;
  }
}
@media (max-width: 768px) {
  .contact-us__under-block-text a {
    display: none;
  }
}
@media (max-width: 480px) {
  .contact-us__under-block-text a {
    display: none;
  }
}
@media (max-width: 737px) and (max-height: 414px) {
  .contact-us__under-block-text a {
    display: none;
  }
}
.contact-us__animation-img-one {
  position: absolute;
  bottom: 0;
  -webkit-animation: slider 60s linear infinite;
}
@-webkit-keyframes slider {
  0% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}
@keyframes slider {
  0% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}
.contact-us__animation-img-two {
  position: absolute;
  bottom: 45px;
  -webkit-animation: slidera 60s linear infinite;
}
@-webkit-keyframes slidera {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}
@keyframes slidera {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}
.contact-us__column-one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact-us__title {
  font-family: Saira Condensed;
  font-size: 77px;
  font-style: normal;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  text-align: left;
  color: white;
  position: relative;
}
.contact-us__title span {
  color: #E6CD0B;
}
@media (max-width: 480px) {
  .contact-us__title {
    font-size: 47px;
    line-height: 83px;
  }
}
@media (max-width: 568px) and (max-height: 320px) {
  .contact-us__title {
    font-size: 41px;
    line-height: 0px;
  }
}
.contact-us__text {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.85);
  margin-top: 20px;
  margin-bottom: 37px;
  width: 450px;
}
.contact-us__text b {
  font-weight: 700;
}
@media (max-width: 768px) {
  .contact-us__text {
    width: 350px;
  }
}
@media (max-width: 480px) {
  .contact-us__text {
    font-size: 16px;
    line-height: 25.6px;
    width: 305px;
  }
}
@media (max-width: 568px) and (max-height: 320px) {
  .contact-us__text {
    width: 300px;
  }
}
.contact-us__column-two {
  width: 387px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1200px) {
  .contact-us__column-two {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 1023px) {
  .contact-us__column-two {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 768px) {
  .contact-us__column-two {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 480px) {
  .contact-us__column-two {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.contact-us__column-two a {
  color: #E6CD0B;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 37px !important;
  position: relative;
  padding-bottom: 11px;
  border-bottom: 1px solid #E6CD0B;
}
.contact-us__column-two a:before {
  content: url("../img/Vector.svg");
  position: absolute;
  margin-left: -38px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact-us__column-two a:hover:before {
  margin-left: -48px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact-us__column-two a:last-child {
  margin-left: 0px;
  margin-top: 41px;
}
.contact-us__column-two a:last-child:before {
  content: url("../img/phone.svg");
  position: absolute;
  margin-left: -38px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contact-us__column-two a:last-child:hover:before {
  margin-left: -48px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about-us__row {
  position: relative;
}
.about-us__title {
  font-family: Saira Condensed;
  font-size: 77px;
  font-style: normal;
  font-weight: 600;
  line-height: 83px;
  letter-spacing: -0.04em;
  text-align: left;
  color: white;
  z-index: 2;
  text-transform: uppercase;
}
.about-us__title span {
  color: #E6CD0B;
}
@media (max-width: 480px) {
  .about-us__title {
    font-size: 32px;
    line-height: 46px;
    width: 100%;
    margin-top: 50px;
  }
}
@media (max-width: 375px) and (max-height: 559px) {
  .about-us__title {
    display: none;
  }
}
@media (max-width: 370px) {
  .about-us__title {
    font-size: 35px;
    line-height: 47px;
    margin-top: 100px;
    width: 100%;
    display: none;
  }
}
@media (max-width: 737px) and (max-height: 414px) {
  .about-us__title {
    font-size: 45px;
    line-height: 56px;
    margin-top: 30px;
  }
}
@media (min-width: 1025px) and (max-height: 787px) {
  .about-us__title {
    margin-top: 100px;
  }
}
@media (min-width: 1025px) and (max-height: 650px) {
  .about-us__title {
    margin-top: 70px !important;
  }
}
@media (min-width: 1025px) and (max-height: 570px) {
  .about-us__title {
    margin-top: 20px !important;
    font-size: 44px;
    line-height: 44px;
  }
}
.about-us__row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 480px) {
  .about-us__row-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-us__under-block-text a {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: right;
  position: absolute;
  left: -173px;
  top: 50%;
  -webkit-transform: rotate(-90deg) translateY(50%);
          transform: rotate(-90deg) translateY(50%);
  color: #E6CD0B;
  text-transform: uppercase;
  display: block;
}
.about-us__under-block-text a:before {
  position: absolute;
  content: url("../img/arrow.svg");
  right: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about-us__under-block-text a:hover:before {
  right: -40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1200px) {
  .about-us__under-block-text a {
    display: none;
  }
}
@media (max-width: 1023px) {
  .about-us__under-block-text a {
    display: none;
  }
}
@media (max-width: 768px) {
  .about-us__under-block-text a {
    display: none;
  }
}
@media (max-width: 480px) {
  .about-us__under-block-text a {
    display: none;
  }
}
@media (max-width: 737px) and (max-height: 414px) {
  .about-us__under-block-text a {
    display: none;
  }
}
.about-us__column-one {
  margin-right: 15px;
  background-image: url("../img/meetOurTeam.jpg");
}
@media (max-width: 480px) {
  .about-us__column-one {
    margin: 0;
    margin-top: 0px !important;
  }
}
@media (max-width: 375px) and (max-height: 559px) {
  .about-us__column-one {
    margin-top: 60px !important;
  }
}
@media (max-width: 370px) {
  .about-us__column-one {
    margin-top: 30px !important;
  }
}
@media (min-width: 1025px) and (max-height: 650px) {
  .about-us__column-one {
    margin-right: 20px !important;
  }
}
.about-us__column-two {
  margin-left: 15px;
  background-image: url("../img/backgroundHover.png");
}
@media (max-width: 480px) {
  .about-us__column-two {
    margin: 0;
  }
}
@media (min-width: 1025px) and (max-height: 650px) {
  .about-us__column-two {
    margin-left: 20px !important;
  }
}
.about-us__column {
  margin-top: 61px;
  width: 535px;
  height: 385px;
  border: 0px solid #5F605F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-size: cover;
}
.about-us__column:hover {
  background-size: cover;
  border-radius: 10px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 0px solid transparent;
}
@media (max-width: 480px) {
  .about-us__column {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin-top: 20px;
  }
}
@media (max-width: 320px) and (max-height: 454px) {
  .about-us__column {
    height: 170px;
  }
}
@media (max-width: 375px) and (max-height: 559px) {
  .about-us__column {
    height: 230px;
  }
}
@media (max-width: 737px) and (max-height: 414px) {
  .about-us__column {
    margin-top: 20px;
    width: calc(50% - 15px);
    height: auto;
    padding: 20px 0;
  }
}
@media (max-width: 667px) and (max-height: 375px) {
  .about-us__column {
    width: calc(50% - 10px);
    height: auto;
    padding: 10px 0;
    margin-top: 0;
  }
}
@media (min-width: 1025px) and (max-height: 787px) {
  .about-us__column {
    margin-top: 40px;
  }
}
@media (min-width: 1025px) and (max-height: 650px) {
  .about-us__column {
    margin-top: 20px !important;
  }
}
@media (min-width: 1025px) and (max-height: 570px) {
  .about-us__column {
    margin-top: 20px !important;
    height: 300px;
  }
}
.about-us__subtitle {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 48px;
}
.about-us__subtitle::after {
  content: "";
  width: 64px;
  height: 3px;
  background-color: rgba(230, 205, 11, 0.94);
  position: absolute;
  z-index: 2;
  bottom: -24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 370px) {
  .about-us__subtitle::after {
    bottom: -5px;
  }
}
@media (max-width: 480px) {
  .about-us__subtitle {
    font-size: 26px;
    line-height: 31px;
    padding: 10px 0 0 0;
  }
}
@media (max-width: 370px) {
  .about-us__subtitle {
    font-size: 22px;
    line-height: 32px;
    padding: 10px 0 0 0;
  }
}
@media (max-width: 370px) {
  .about-us__subtitle {
    margin-bottom: 5px;
  }
}
@media (max-width: 667px) and (max-height: 375px) {
  .about-us__subtitle {
    font-size: 26px;
    line-height: 36px;
  }
}
.about-us__text {
  width: 326px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .about-us__text {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 370px) {
  .about-us__text {
    padding: 0 10px;
    font-size: 14px;
  }
}
@media (max-width: 667px) and (max-height: 375px) {
  .about-us__text {
    width: 100%;
    padding: 0 10px;
  }
}
.about-us__btn {
  width: 175px;
  height: 53px;
  margin: 40px auto 0 auto;
}
.about-us__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 53px;
  color: #E6CD0B;
  background-color: transparent;
  border: 2px solid #E6CD0B;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about-us__btn a:hover {
  background-color: #E6CD0B;
  -webkit-box-shadow: 0px 5px 30px rgba(230, 205, 11, 0.3);
          box-shadow: 0px 5px 30px rgba(230, 205, 11, 0.3);
  border-radius: 6px;
  color: #1D1B4C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 480px) {
  .about-us__btn a {
    width: 175px;
    height: 53px;
    margin: 0px auto 20px auto;
  }
}
@media (max-width: 320px) and (max-height: 454px) {
  .about-us__btn a {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  .about-us__btn {
    margin: 20px auto 0px auto !important;
  }
}
@media (max-width: 320px) and (max-height: 454px) {
  .about-us__btn {
    margin: 10px auto 0px auto !important;
  }
}
@media (max-width: 375px) and (max-height: 559px) {
  .about-us__btn {
    margin: 20px auto 0px auto !important;
  }
}