@import "base/reset";
@import "base/theme";
@import "base/mixins";
@import "base/global";

.footer {

  &__row {
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  &__logo {
  display: flex;
    flex-basis: 145px;
  }

}

.footer-social {
  background-color: #FC491E;


  &__row {
    display:flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }


  &__validated {
    color: #ffffff;
    font-size: $--theme-font-size-text-small;
    line-height: $--theme-line-height-text-small;
    font-family: $--theme-font-family;
    font-weight: 400;
    flex-basis: 185px;
    width: 195px;
    align-items: center;

  }
  &__social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis:308px;
    width: 308px;
    font-size: $--theme-font-size-text-small;
    line-height: 31px;
    font-family: $--theme-font-family;
    font-weight: 700;
    position: relative;
    color:#FFFFFF;
  }

  &__icon-item::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    left: 140px;
    top: 0;
  }
  &__icon-element {
    z-index: 5;
  }

}