@import "base/reset";
@import "base/theme";
@import "base/mixins";
@import "base/global";
@import "header";
body {
  background: linear-gradient(202.62deg, #101010 0%, #101010 0.01%, #202020 100%) !important;
}

.section {
  height: 100vh;
}
.section0 {
  display:flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../img/baclgroundFirst.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 56.5% 99.9%;


  &__column-1 {
    width: 952px;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){
    }
    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){
      width: 100%;
    }

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}
  }

  &__title {
    font-family: Saira Condensed;
    font-size: 77px;
    font-style: normal;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: -0.04em;
    text-align: left;
    color: white;
    margin-bottom: 64px;
    margin-top: 184px;
    text-transform: uppercase;

    span {
    color: #E6CD0B;
    }
    br {
      display: block;
      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){
        display: none;
      }

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}
    }


    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){
      font-size: 70px;
      line-height: 80px;

    }

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){
      font-size: 47px;
      line-height: 67px;
    }

    @include breakpoint(mobileSmall){}
  }

  &__subtitle {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    color: #E6CD0B;
    text-transform: uppercase;
    margin-left: 24px;
    position: relative;
    :before {
      content: url("../img/arrow.svg");
      position: absolute;
      left: 0;
    }
  }

  @include breakpoint(largeDesktop){}

  @include breakpoint(mediumDesktop){
  }
  @include breakpoint(smallDesktop){}

  @include breakpoint(tablet){}

  @include breakpoint(tabletSmall){}

  @include breakpoint(mobile){
    background-size: 100% 99.9%;
  }

  @include breakpoint(mobileSmall){}

}

.section1 {

  &__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){
      flex-direction: column;
    }

    @include breakpoint(mobileSmall){}
  }

  &__under-block-text {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: right;
    position: absolute;
    left: -173px;
    bottom: 75px;
    transform: rotate(-90deg);
    color: #B8B8B8;
    text-transform: uppercase;
    display: block;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){
      left: -103px;
    }

    @include breakpoint(tabletSmall){
      left: -83px;
    }

    @include breakpoint(mobile){
      display: none;
    }

    @include breakpoint(mobileSmall){}

  }

  &__animation-img-1 {
    position: absolute;
    bottom: 0;
    -webkit-animation: slider 20s linear infinite;
  }
  @keyframes slider {
    from {
      left: -500px;
    }

    to {
      left: 2000px;
    }
  }

  &__animation-img-2 {
    position: absolute;
    bottom: 45px;
    -webkit-animation: slidera 20s linear infinite;
  }
  @keyframes slidera {
    from {
      left: 2000px;
    }

    to {
      left: -1500px;
    }
  }

  &__column-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

    &__title {
      font-family: Saira Condensed;
      font-size: 77px;
      font-style: normal;
      font-weight: 600;
      line-height: 83px;
      letter-spacing: -0.04em;
      text-align: left;
      color: white;
      position: relative;
      span {
        color: #E6CD0B;
      }

      @include breakpoint(largeDesktop) {
      }

      @include breakpoint(mediumDesktop) {
      }

      @include breakpoint(smallDesktop) {
      }

      @include breakpoint(tablet) {
      }

      @include breakpoint(tabletSmall) {
      }

      @include breakpoint(mobile) {
        font-size:47px;
        line-height: 83px;
      }

      @include breakpoint(mobileSmall) {
      }
    }


    &__text {
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 0.85);
      margin-top: 20px;
      margin-bottom: 37px;
      width: 450px;

      b {
        font-weight: 700;
      }

      @include breakpoint(largeDesktop) {
      }

      @include breakpoint(mediumDesktop) {
      }

      @include breakpoint(smallDesktop) {
      }

      @include breakpoint(tablet) {
      }

      @include breakpoint(tabletSmall) {
        width: 350px;
      }

      @include breakpoint(mobile) {
        font-size: 16px;
        line-height: 25.6px;
        width: 305px;
      }

      @include breakpoint(mobileSmall) {
      }
    }


  &__column-2 {

    width: 587px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint(largeDesktop) {
    }

    @include breakpoint(mediumDesktop) {
    }

    @include breakpoint(smallDesktop) {
    }

    @include breakpoint(tablet) {
    }

    @include breakpoint(tabletSmall) {
    }

    @include breakpoint(mobile) {
      width: 100%;
      align-items: flex-start;
    }

    @include breakpoint(mobileSmall) {
    }

    a {
      color: #E6CD0B;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      margin-left: 37px !important;
      position: relative;
      padding-bottom: 11px;
      border-bottom: 1px solid #E6CD0B;


      &:before {
        content: url("../img/Vector.svg");
        position: absolute;
        margin-left: -38px;
        @include breakpoint(largeDesktop) {
        }

        @include breakpoint(mediumDesktop) {
        }

        @include breakpoint(smallDesktop) {
        }

        @include breakpoint(tablet) {
        }

        @include breakpoint(tabletSmall) {
        }

        @include breakpoint(mobile) {
        }

        @include breakpoint(mobileSmall) {
        }
      }

      @include breakpoint(largeDesktop) {
      }

      @include breakpoint(mediumDesktop) {
      }

      @include breakpoint(smallDesktop) {
      }

      @include breakpoint(tablet) {
      }

      @include breakpoint(tabletSmall) {
      }

      @include breakpoint(mobile) {
      }

      @include breakpoint(mobileSmall) {
      }

    }

    a:last-child {
      margin-left: 0px;
      margin-top: 41px;

      &:before {
        content: url("../img/phone.svg");
        position: absolute;
        margin-left: -38px;
        @include breakpoint(largeDesktop) {
        }

        @include breakpoint(mediumDesktop) {
        }

        @include breakpoint(smallDesktop) {
        }

        @include breakpoint(tablet) {
        }

        @include breakpoint(tabletSmall) {
        }

        @include breakpoint(mobile) {
        }

        @include breakpoint(mobileSmall) {
        }

      }

    }

  }

}


.section2 {

  &__row {
    position: relative;
  }

  &__title {
    font-family:Saira Condensed;
    font-size: 77px;
    font-style: normal;
    font-weight: 600;
    line-height: 83px;
    letter-spacing: -0.04em;
    text-align: left;
    color: white;
    z-index: 2;
    text-transform: uppercase;
    span {
      color: #E6CD0B;
    }
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){
      }

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){
      font-size: 47px;
      line-height: 56px;
      width: 205px;
    }

    @include breakpoint(mobileSmall){}

  }


  &__row-2 {
    display: flex;
    position: relative;
    flex-direction: row;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){
    }

    @include breakpoint(tabletSmall){
    }

    @include breakpoint(mobile){
      flex-direction: column;
    }

    @include breakpoint(mobileSmall){}
  }
  &__under-block-text a{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: right;
    position: absolute;
    left: -173px;
    bottom: 150px;
    transform: rotate(-90deg);
    color: #E6CD0B;
    text-transform: uppercase;
    display: block;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){
      left: -103px;
    }

    @include breakpoint(tabletSmall){
      left: -83px;
    }

    @include breakpoint(mobile){
      display: none;
    }

    @include breakpoint(mobileSmall){}
  }

  &__column-1 {
    margin-right: 15px;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){margin: 0;}

    @include breakpoint(mobileSmall){}
  }

  &__column-2 {
    margin-left: 15px;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){margin: 0;}

    @include breakpoint(mobileSmall){}
  }

  &__column {
    margin-top: 80px;
    width: 535px;
    height: 385px;
    border: 3px solid #5F605F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
     background-image: url("../img/backgroundHover.png");
      border-radius: 10px;
      transform: scale(1.1);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: 3px solid transparent;
    }
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){
      width: 342px;
      height: 362px;
    }

    @include breakpoint(mobileSmall){
    width: 327px;
      height: 359px;
    }

  }


  &__subtitle {
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 48px;

    &::after {
      content: '';
      width: 64px;
      height: 3px;
      background-color: rgba(230, 205, 11, 0.94);;
      position: absolute;
      z-index: 2;
      bottom: -24px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform:    translateX(-50%);
      -ms-transform:     translateX(-50%);
      -o-transform:      translateX(-50%);
      transform:         translateX(-50%);

      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){ }

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}

    }

    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){

    }

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){
      font-size:28px;
      line-height: 36.4px;
    }

    @include breakpoint(mobileSmall){}

  }

  &__text {
    width: 326px ;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    margin: 0 auto;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){

    }

    @include breakpoint(mobileSmall){}
  }

  &__btn {
  width: 175px;
    height: 53px;
    margin: 40px auto 0 auto;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 175px;
      height: 53px;
      color: #E6CD0B;
      border: 2px solid #E6CD0B;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      border-radius: 10px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        background-color: #E6CD0B;
        box-shadow: 0px 5px 30px rgba(230, 205, 11, 0.3);
        border-radius: 6px;
        color: #1D1B4C;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

      }
      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){
        width: 175px;
        height: 53px;
      }

      @include breakpoint(mobileSmall){}

    }

  }

}









