@import "base/reset";
@import "base/theme";
@import "base/mixins";
@import "base/global";
@import "header";


body {
  background: linear-gradient(202.62deg, #101010 0%, #101010 0.01%, #202020 100%) !important;
}

.section {
  height: 100vh;
}
#fp-nav {
  background: #101010;
  opacity: 0.5;
  border-radius: 60px;
  display: block;
  ul{
    li {
        a{
          span{
          background-color: #f1f2ec4d;
            background: #f1f2ec4d;
        }
      }
    }
  }
  ul{
    li {
      .active{
        span{
          background-color: #F1F2EC;
          background: #F1F2EC;
        }
      }
    }
  }
  @include breakpoint(largeDesktop){}

  @include breakpoint(mediumDesktop){
  }
  @include breakpoint(smallDesktop){}

  @include breakpoint(tablet){
    display: none;
  }

  @include breakpoint(tabletSmall){
  }

  @include breakpoint(mobile){}

  @include breakpoint(mobileSmall){}

}

.atf{
  display:flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../img/baclgroundFirst.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 56.5% 99.9%;


  &__column-one {
    width: 952px;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){
    }
    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){
      width: 100%;
    }

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}
  }

  &__title {
    font-family: Saira Condensed;
    font-size: 77px;
    font-style: normal;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: -0.04em;
    text-align: left;
    color: white;
    margin-bottom: 64px;
    margin-top: 184px;
    text-transform: uppercase;

    span {
    color: #E6CD0B;
      position: relative;
      &:last-child:after {
        content: url("../img/Rocket.png");
        top:0;
        right: -130px;
        position: absolute;
      }
      img {
        width: 55px;
        height: 55px;
      }

    }

    br {
      display: block;
      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){
        display: none;
      }

      @include breakpoint(mobile){
      }

      @include breakpoint(mobileSmall){}
    }


    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){
      font-size: 70px;
      line-height: 80px;

    }

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){
      font-size: 47px;
      line-height: 67px;
      margin-bottom: 20px;
      text-align: center;
    }

    @include breakpoint(mobileSmall){
      font-size: 35px;
      line-height: 47px;
    }
    @include breakpoint(bigMobileWithHeight){
      font-size: 45px;
      line-height: 56px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    @include breakpoint(mobileWithHeight){

    }
    @include breakpoint(smallMobileWithHeight){
      font-size: 41px;
      line-height: 52px;
    }
    @include breakpoint(desktopWithHeightVerySmall) {
      margin-top: 20px !important;
      font-size: 44px;
      line-height: 44px;
    }
  }

  &__subtitle a {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    color: #E6CD0B;
    text-transform: uppercase;
    margin-left: 24px;
    position: relative;
    &:before {
      content: url("../img/arrow.svg");
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-45%);
      transition: all 0.3s;
      display: block;
    }
    &:hover:before {
      transform: translateY(-40%);
      transition: all 0.3s;
    }

  }

  @include breakpoint(largeDesktop){}

  @include breakpoint(mediumDesktop){
  }
  @include breakpoint(smallDesktop){}

  @include breakpoint(tablet){}

  @include breakpoint(tabletSmall){
    display: none;
  }

  @include breakpoint(mobile){
    background-image: url("../img/mobileBackground.png");
    background-size: 100%;
  }

  @include breakpoint(mobileSmall){}
  @include breakpoint(bigMobileWithHeight){
  }
  @include breakpoint(mobileWithHeight){

  }
  @include breakpoint(smallMobileWithHeight){

  }

}

.contact-us {

  &__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){
      flex-direction: column;
    }

    @include breakpoint(mobileSmall){}
  }

  &__under-block-text a {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: right;
    position: absolute;
    left: -173px;
    top: 25%;
    transform: rotate(-90deg) translateY(50% );
    color: #B8B8B8;
    text-transform: uppercase;
    display: block;
    &:before {
      content: url("../img/whiteArrow.svg");
      position: absolute;
      left: -31px;
      transform: rotate(90deg);
      transition: all 0.3s;
    }
    &:hover:before {
      transition: all 0.3s;
      left: -41px;
    }
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){
      display: none;
    }

    @include breakpoint(tablet){
      display: none;
    }

    @include breakpoint(tabletSmall){
      display: none;
    }

    @include breakpoint(mobile){
      display: none;
    }

    @include breakpoint(mobileSmall){}
    @include breakpoint('bigMobileWithHeight'){
    display: none;
    }
    @include breakpoint('mobileWithHeight'){

    }
    @include breakpoint('smallMobileWithHeight'){

    }

  }

  &__animation-img-one {
    position: absolute;
    bottom: 0;
    -webkit-animation: slider 60s linear infinite;

  }
  @keyframes slider{
    0% {
      transform: translateX(-45%);
    }
    100% {
      transform: translateX(-10%);

    }
  }

  &__animation-img-two {
    position: absolute;
    bottom: 45px;
    -webkit-animation: slidera 60s linear infinite;

  }
  @keyframes slidera {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-20%);

    }
  }

  &__column-one {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

    &__title {
      font-family: Saira Condensed;
      font-size: 77px;
      font-style: normal;
      font-weight: 600;
      line-height: 83px;
      letter-spacing: -0.04em;
      text-align: left;
      color: white;
      position: relative;
      span {
        color: #E6CD0B;
      }

      @include breakpoint(largeDesktop) {
      }

      @include breakpoint(mediumDesktop) {
      }

      @include breakpoint(smallDesktop) {
      }

      @include breakpoint(tablet) {
      }

      @include breakpoint(tabletSmall) {
      }

      @include breakpoint(mobile) {
        font-size:47px;
        line-height: 83px;
      }

      @include breakpoint(mobileSmall) {
      }
      @include breakpoint(bigMobileWithHeight){
      }
      @include breakpoint(mobileWithHeight){
      }
      @include breakpoint(smallMobileWithHeight){
        font-size: 41px;
        line-height: 0px;
      }
    }


    &__text {
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 0.85);
      margin-top: 20px;
      margin-bottom: 37px;
      width: 450px;

      b {
        font-weight: 700;
      }

      @include breakpoint(largeDesktop) {
      }

      @include breakpoint(mediumDesktop) {
      }

      @include breakpoint(smallDesktop) {
      }

      @include breakpoint(tablet) {
      }

      @include breakpoint(tabletSmall) {
        width: 350px;
      }

      @include breakpoint(mobile) {
        font-size: 16px;
        line-height: 25.6px;
        width: 305px;
      }

      @include breakpoint(mobileSmall) {
      }
      @include breakpoint(bigMobileWithHeight){
      }
      @include breakpoint(mobileWithHeight){
      }
      @include breakpoint(smallMobileWithHeight){
        width: 300px;
      }
    }


  &__column-two {
    width: 387px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include breakpoint(largeDesktop) {
    }

    @include breakpoint(mediumDesktop) {
    }

    @include breakpoint(smallDesktop) {
      align-items: flex-end;
    }

    @include breakpoint(tablet) {
      align-items: flex-end;
    }

    @include breakpoint(tabletSmall) {
      align-items: flex-end;
    }

    @include breakpoint(mobile) {
      width: 100%;
      align-items: flex-start;
    }

    @include breakpoint(mobileSmall) {
    }

    a {
      color: #E6CD0B;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      margin-left: 37px !important;
      position: relative;
      padding-bottom: 11px;
      border-bottom: 1px solid #E6CD0B;


      &:before {
        content: url("../img/Vector.svg");
        position: absolute;
        margin-left: -38px;
        transition: all 0.3s;
        @include breakpoint(largeDesktop) {
        }

        @include breakpoint(mediumDesktop) {
        }

        @include breakpoint(smallDesktop) {
        }

        @include breakpoint(tablet) {
        }

        @include breakpoint(tabletSmall) {
        }

        @include breakpoint(mobile) {
        }

        @include breakpoint(mobileSmall) {
        }
      }
      &:hover:before {
        margin-left: -48px;
        transition: all 0.3s;
      }

      @include breakpoint(largeDesktop) {
      }

      @include breakpoint(mediumDesktop) {
      }

      @include breakpoint(smallDesktop) {
      }

      @include breakpoint(tablet) {
      }

      @include breakpoint(tabletSmall) {
      }

      @include breakpoint(mobile) {
      }

      @include breakpoint(mobileSmall) {
      }

    }

    a:last-child {
      margin-left: 0px;
      margin-top: 41px;

      &:before {
        content: url("../img/phone.svg");
        position: absolute;
        margin-left: -38px;
        transition: all 0.3s;
        @include breakpoint(largeDesktop) {
        }

        @include breakpoint(mediumDesktop) {
        }

        @include breakpoint(smallDesktop) {
        }

        @include breakpoint(tablet) {
        }

        @include breakpoint(tabletSmall) {
        }

        @include breakpoint(mobile) {
        }

        @include breakpoint(mobileSmall) {
        }

      }
      &:hover:before {
        margin-left: -48px;
        transition: all 0.3s;
      }

    }

  }

}


.about-us {

  &__row {
    position: relative;
  }

  &__title {
    font-family: Saira Condensed;
    font-size: 77px;
    font-style: normal;
    font-weight: 600;
    line-height: 83px;
    letter-spacing: -0.04em;
    text-align: left;
    color: white;
    z-index: 2;
    text-transform: uppercase;

    span {
      color: #E6CD0B;
    }

    @include breakpoint(largeDesktop) {
    }

    @include breakpoint(mediumDesktop) {
    }

    @include breakpoint(smallDesktop) {
    }

    @include breakpoint(tablet) {
    }

    @include breakpoint(tabletSmall) {
    }

    @include breakpoint(mobile) {
      font-size: 32px;
      line-height: 46px;
      width: 100%;
      margin-top: 50px;
    }

    @include breakpoint(mobileSmall) {
      font-size: 35px;
      line-height: 47px;
      margin-top: 100px;
      width: 100%;
    }
    @include breakpoint(bigMobileWithHeight) {
      font-size: 45px;
      line-height: 56px;
      margin-top: 30px;
    }
    @include breakpoint(mobileWithHeight) {

    }
    @include breakpoint(smallMobileWithHeight) {

    }
    @include breakpoint(desktopWithHeightMedium) {
      margin-top: 100px;
    }
    @include breakpoint(desktopWithHeightSmall) {
      margin-top: 70px !important;
    }
    @include breakpoint(desktopWithHeightVerySmall) {
      margin-top: 20px !important;
      font-size: 44px;
      line-height: 44px;
    }

  }


  &__row-two {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    @include breakpoint(largeDesktop) {
    }

    @include breakpoint(mediumDesktop) {
    }

    @include breakpoint(smallDesktop) {
    }

    @include breakpoint(tablet) {
    }

    @include breakpoint(tabletSmall) {
    }

    @include breakpoint(mobile) {
      flex-direction: column;
    }

    @include breakpoint(mobileSmall) {
    }
  }

  &__under-block-text a {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: right;
    position: absolute;
    left: -173px;
    top:50%;
    transform: rotate(-90deg)  translateY(50%);
    color: #E6CD0B;
    text-transform: uppercase;
    display: block;
    &:before {
      position: absolute;
      content: url("../img/arrow.svg");
      right: -30px;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      transition: all 0.3s;
    }
    &:hover:before {
     right: -40px;
      transition: all 0.3s;
    }
    @include breakpoint(largeDesktop) {
    }

    @include breakpoint(mediumDesktop) {
    }

    @include breakpoint(smallDesktop) {
      display: none;
    }

    @include breakpoint(tablet) {
      display: none;
    }

    @include breakpoint(tabletSmall) {
      display: none;
    }

    @include breakpoint(mobile) {
      display: none;
    }

    @include breakpoint(mobileSmall) {
    }
    @include breakpoint('bigMobileWithHeight') {
      display: none;
    }
    @include breakpoint('mobileWithHeight') {

    }
    @include breakpoint('smallMobileWithHeight') {
    }
  }

  &__column-one {
    margin-right: 15px;
    @include breakpoint(largeDesktop) {
    }

    @include breakpoint(mediumDesktop) {
    }

    @include breakpoint(smallDesktop) {
    }

    @include breakpoint(tablet) {
    }

    @include breakpoint(tabletSmall) {
    }

    @include breakpoint(mobile) {
      margin: 0;
    }

    @include breakpoint(mobileSmall) {
    }
    @include breakpoint(desktopWithHeightSmall) {
      margin-right: 20px !important;
    }
  }

  &__column-two {
    margin-left: 15px;
    @include breakpoint(largeDesktop) {
    }

    @include breakpoint(mediumDesktop) {
    }

    @include breakpoint(smallDesktop) {
    }

    @include breakpoint(tablet) {
    }

    @include breakpoint(tabletSmall) {
    }

    @include breakpoint(mobile) {
      margin: 0;
    }

    @include breakpoint(mobileSmall) {
    }
    @include breakpoint(desktopWithHeightSmall) {
      margin-left: 20px !important;
    }
  }

  &__column {
    margin-top: 61px;
    width: 535px;
    height: 385px;
    border: 3px solid #5F605F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
      background-image: url("../img/backgroundHover.png");
      background-size: cover;
      border-radius: 10px;
      transform: scale(1.1);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: 0px solid transparent;
    }

    @include breakpoint(largeDesktop) {
    }

    @include breakpoint(mediumDesktop) {
    }

    @include breakpoint(smallDesktop) {
    }

    @include breakpoint(tablet) {
    }

    @include breakpoint(tabletSmall) {
    }

    @include breakpoint(mobile) {
      width: 100%;
      height: auto;
      padding-bottom: 10px;
      margin-top: 20px;
    }

    @include breakpoint(mobileSmall) {
    }
    @include breakpoint(bigMobileWithHeight) {
      margin-top: 20px;
      width: calc(50% - 15px);
      height: auto;
      padding: 20px 0;
    }
    @include breakpoint(mobileWithHeight) {
      width: calc(50% - 10px);
      height: auto;
      padding: 10px 0;
      margin-top: 0;
    }
    @include breakpoint(smallMobileWithHeight) {
    }


    @include breakpoint(desktopWithHeightMedium) {
      margin-top: 40px;
    }
    @include breakpoint(desktopWithHeightSmall) {
      margin-top: 20px !important;
    }
    @include breakpoint(desktopWithHeightVerySmall) {
      margin-top: 20px !important;
      height: 300px;
    }
  }

    &__subtitle {
      font-family: Montserrat;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: left;
      color: white;
      text-align: center;
      position: relative;
      margin-bottom: 48px;

      &::after {
        content: '';
        width: 64px;
        height: 3px;
        background-color: rgba(230, 205, 11, 0.94);;
        position: absolute;
        z-index: 2;
        bottom: -24px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);

        @include breakpoint(largeDesktop) {
        }

        @include breakpoint(mediumDesktop) {
        }

        @include breakpoint(smallDesktop) {
        }

        @include breakpoint(tablet) {
        }

        @include breakpoint(tabletSmall) {
        }

        @include breakpoint(mobile) {
        }

        @include breakpoint(mobileSmall) {
        }


      }

      @include breakpoint(largeDesktop) {
      }

      @include breakpoint(mediumDesktop) {

      }

      @include breakpoint(smallDesktop) {
      }

      @include breakpoint(tablet) {
      }

      @include breakpoint(tabletSmall) {
      }

      @include breakpoint(mobile) {
        font-size: 26px;
        line-height: 31px;
        padding: 10px 0 0 0;
      }

      @include breakpoint(mobileSmall) {
        font-size: 26px;
        line-height: 31px;
        padding: 10px 0 0 0;
      }
      @include breakpoint(bigMobileWithHeight) {
      }

      @include breakpoint(mobileWithHeight) {
        font-size: 26px;
        line-height: 36px;
      }

      @include breakpoint(smallMobileWithHeight) {
      }

    }

    &__text {
      width: 326px;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.02em;
      text-align: center;
      color: white;
      margin: 0 auto;
      @include breakpoint(largeDesktop) {
      }

      @include breakpoint(mediumDesktop) {
      }

      @include breakpoint(smallDesktop) {
      }

      @include breakpoint(tablet) {
      }

      @include breakpoint(tabletSmall) {
      }

      @include breakpoint(mobile) {
        width: 100%;
        padding: 0 20px;

      }

      @include breakpoint(mobileSmall) {
        padding: 0 10px;
      }
      @include breakpoint(bigMobileWithHeight) {
      }

      @include breakpoint(mobileWithHeight) {
        width: 100%;
        padding: 0 10px;
      }

      @include breakpoint(smallMobileWithHeight) {
      }
    }

    &__btn {
      width: 175px;
      height: 53px;
      margin: 40px auto 0 auto;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 175px;
        height: 53px;
        color: #E6CD0B;
        border: 2px solid #E6CD0B;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        border-radius: 10px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        &:hover {
          background-color: #E6CD0B;
          box-shadow: 0px 5px 30px rgba(230, 205, 11, 0.3);
          border-radius: 6px;
          color: #1D1B4C;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;

        }

        @include breakpoint(largeDesktop) {
        }

        @include breakpoint(mediumDesktop) {
        }

        @include breakpoint(smallDesktop) {
        }

        @include breakpoint(tablet) {
        }

        @include breakpoint(tabletSmall) {
        }

        @include breakpoint(mobile) {
          width: 175px;
          height: 53px;
          margin: 0px auto 20px auto;
        }

        @include breakpoint(mobileSmall) {
          //padding: 0 0 10px 0;
        }
        @include breakpoint(bigMobileWithHeight) {
        }

        @include breakpoint(mobileWithHeight) {
        }

        @include breakpoint(smallMobileWithHeight) {}

      }

    }

  }











