@import "base/reset";
@import "base/theme";
@import "base/mixins";
@import "base/global";
@import "header";
body {
  background: linear-gradient(202.62deg, #101010 0%, #101010 0.01%, #202020 100%) !important;
}

.section {
  height: 100vh;

}
.section0 {
  display:flex;
  flex-direction: column;
  width: 100%;


  &__column-1 {
    width: 50%;
  }

  &__title {
    font-family: SF UI Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-align: left;
    color: white;
    margin-bottom: 64px;
    margin-top: 184px;

    span {
    color: #E6CD0B;
    }

    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){
      font-size: 32px;
    line-height: 43px;}

    @include breakpoint(smallDesktop){
      font-size: 30px;
      line-height: 38px;
    }

    @include breakpoint(tablet){
      font-size: 28px;
      line-height: 36px;
    }

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}
  }

  &__mail-title {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 16px;

    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}
  }

  &__mail-form {
    display: flex;
    input[type=text]{
      background-color: transparent;
      padding: 16px 12px;
      border: 1px solid rgba(186, 186, 186, 0.97);
      border-radius: 4px 0px 0px 4px;
      width: 336px;
      height: 50px;
      color:#B7B7B2;

      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}
    }
    input::placeholder {
      color: #B7B7B2;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;

      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}
    }

    input:focus {
      border: 1px solid #E6CD0B;
    }
    input[type=submit] {
    width: 131px;
      height: 50px;
      background-color: #E6CD0B;
      box-shadow: 0px 5px 30px rgba(230, 205, 11, 0.3);
      border-radius: 0px 6px 6px 0px;
      color: #1D1B4C;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;

      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}
    }

  }
  &__mail-subtext {
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #878787;
  }

}

.section1 {

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__column-1 {
    position: relative;
  }

  &__title {
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 143px;
    position: relative;

    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}
  }

  &__title:after {
    content: '';
    width: 64px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    z-index: 2;
    bottom: -32px;
    left: 0;

    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}

  }

  &__column-2 {

    width: 587px;
    position: relative;
  }

    a {
      color: #E6CD0B;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      margin-left: 37px;

      &:before {
        content:url("../img/Vector.svg");
        position: absolute;
        left: 0;
        bottom: 0;
        @include breakpoint(largeDesktop){}

        @include breakpoint(mediumDesktop){}

        @include breakpoint(smallDesktop){}

        @include breakpoint(tablet){}

        @include breakpoint(tabletSmall){}

        @include breakpoint(mobile){}

        @include breakpoint(mobileSmall){}
      }
      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}

    }
  a:last-child {
    margin-left: 82px;
    &:before {
      content:url("../img/phone.svg");
      position: absolute;
      left: 240px;
      bottom: 0;
      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}
    }

  }


    &__text {
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 0.85);
      margin-top: 167px;
      margin-bottom: 33px;
      width: 587px;

      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}
    }


}
.section2 {

  &__row {
    position: relative;
  }

  &__title {
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    z-index: 2;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){
      font-size: 40px;
      line-height: 53px;}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}

  }

  &__title:after {
    content: '';
    width: 64px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    z-index: 2;
    bottom: -40px;
    left: 0;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){

    }

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}
  }

  &__row-2 {
    display: flex;
  }

  &__column-1 {
    margin-right: 35px;
  }

  &__column-2 {
    margin-left: 35px;
  }

  &__column {
    margin-top: 80px;
    width: 535px;
    height: 385px;
    border: 3px solid #5F605F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
     background: linear-gradient(180deg, #2E2E2E 0%, rgba(46, 46, 46, 0.75) 100%);
      border-radius: 10px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: 3px solid transparent;
    }

  }


  &__subtitle {
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 48px;

    &::after {
      content: '';
      width: 64px;
      height: 3px;
      background-color: rgba(230, 205, 11, 0.94);;
      position: absolute;
      z-index: 2;
      bottom: -24px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform:    translateX(-50%);
      -ms-transform:     translateX(-50%);
      -o-transform:      translateX(-50%);
      transform:         translateX(-50%);

      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){ }

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}

    }

    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){
      font-size: 28px;
      line-height: 36px;
    }

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}

  }

  &__text {
    width: 326px ;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
    margin: 0 auto;
    @include breakpoint(largeDesktop){}

    @include breakpoint(mediumDesktop){}

    @include breakpoint(smallDesktop){}

    @include breakpoint(tablet){}

    @include breakpoint(tabletSmall){}

    @include breakpoint(mobile){}

    @include breakpoint(mobileSmall){}
  }

  &__btn {
  width: 175px;
    height: 53px;
    margin: 40px auto 0 auto;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 175px;
      height: 53px;
      color: #E6CD0B;
      border: 2px solid #E6CD0B;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      border-radius: 10px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        background-color: #E6CD0B;
        box-shadow: 0px 5px 30px rgba(230, 205, 11, 0.3);
        border-radius: 6px;
        color: #1D1B4C;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

      }
      @include breakpoint(largeDesktop){}

      @include breakpoint(mediumDesktop){}

      @include breakpoint(smallDesktop){}

      @include breakpoint(tablet){}

      @include breakpoint(tabletSmall){}

      @include breakpoint(mobile){}

      @include breakpoint(mobileSmall){}

    }

  }

}









