//colors
$--Theme-color-text-black: #111111;


// Fonts properties
$--theme-font-family: 'Poppins';
$--theme-font-weight-bold: 700;
$--theme-font-weight-semi-bold: 600;
$--theme-font-weight-medium: 500;

$--theme-font-family-secondary: 'Montserrat';
$--theme-font-weight-bold-secondary: 700;





// Headings properties
$--theme-font-size-heading-h1: 48px;
$--theme-font-size-heading-h2: 38px;
$--theme-font-size-heading-h3: 32px;
$--theme-font-size-heading-h4: 24px;
$--theme-font-size-heading-h5: 17px;

$--theme-line-height-heading-h1: 56px;
$--theme-line-height-heading-h2: 48px;
$--theme-line-height-heading-h3: 38px;
$--theme-line-height-heading-h4: 26px;
$--theme-line-height-heading-h5: 20.28px;

// Text properties
$--theme-font-size-text-large: 21px;
$--theme-font-size-text-middle: 16px;
$--theme-font-size-text-small: 14px;

$--theme-line-height-text-large: 36px;
$--theme-line-height-text-middle: 24px;
$--theme-line-height-text-small: 24px;


// Description properties
$--theme-font-size-description-large: 16px;
$--theme-font-size-description-middle: 14px;
$--theme-font-size-description-small: 12px;

$--theme-line-height-description: 16px;

// State properties
$--theme-font-size-state-middle: 14px;
$--theme-font-size-state-small: 12px;

$--theme-line-height-state-middle: 14.32px;
$--theme-line-height-state-small: 16.7px;


// Option properties
$--theme-font-size-option: 13px;

$--theme-line-height-option: 16px;


// Numbers properties
$--theme-font-size-numbers-large: 64px;
$--theme-font-size-numbers-middle: 49px;
$--theme-font-size-numbers-small: 18px;

$--theme-line-height-numbers-large: 74.24px;
$--theme-line-height-numbers-middle: 64.42px;
$--theme-line-height-numbers-small: 21.76px;


// Sing properties
$--theme-font-size-sing-m: 14px;

$--theme-line-height-sing-m: 24px;







//$--theme-font-heading-large-size: 18px;
//$--theme-font-plain-text-size: 14px;
//$--theme-font-small-text-size: 12px;
//$--theme-font-large-text-size: 16px;
//$--theme-font-plain-text-line-height: 14px;
//
//$--theme-line-height-heading: 17px;
//$--theme-line-height: 21px;
